name: Test Craterstats

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
    
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source 
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python 
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      - name: Install pip
        run: |
          python -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          python -m pip install -U -r requirements.txt
          python -m pip install coverage
      - name: Install Craterstats
        run: |
          python setup.py install
      - name: Run Tests with Coverage
        run: |
          coverage run -m unittest discover craterstats.tests -s src
          coverage report 
      - name: Run Demo
        run: |
          craterstats -demo
      - name: Upload Demo Plots
        uses: actions/upload-artifact@v4
        with:
          path: demo/*
